@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
body {max-width: 90%}   

.hamburger {display:none}    

.navigation li {display:inline}  

.navigation.responsive li {
        display: inline;
        width: 100%
    }    
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 3%;
    overflow: hidden;
}
    
nav ul li {
    display: inline;
    width:auto;
    margin: 2% 0;
    padding: .5em
}
    
nav ul li a {}
nav ul li.active a {
       font-weight: bold;
}
nav ul li a:hover {
    color: #CE7628;
    text-transform: uppercase;
    padding: 0 .5em        
}
  nav button {
      display:none; 
    }  /* hamburger button does not need to be shown */

 
    .today {
        width: 45%;
        display: inline;
        float: right;
    }    
  section.forecast { 
      display: block;
      width: 50%;
      
    }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { 
      width: 50%; 
      float: left; 
    }  /* responsive images */

}
